<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".-->
    
    <connectionStrings>
      <!--<add name="MasterConnection" providerName="System.Data.SqlClient" connectionString="Server=12638d85-a01b-4680-aee2-a2a0011a4228.sqlserver.sequelizer.com;Database=db12638d85a01b4680aee2a2a0011a4228;User ID=yjyfkgjqztoymcls;Password=UXMQDHFLPKuVGw2YKnibfszfJK4LSjfiFbqeXSRwXvEV4JfG2Rwr7zLBxFf3N32D;" />-->
      <!--<add name="DefaultConnection"
           connectionString="Server=12638d85-a01b-4680-aee2-a2a0011a4228.sqlserver.sequelizer.com;Database=db12638d85a01b4680aee2a2a0011a4228;User ID=yjyfkgjqztoymcls;Password=UXMQDHFLPKuVGw2YKnibfszfJK4LSjfiFbqeXSRwXvEV4JfG2Rwr7zLBxFf3N32D;"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
      <add name="DefaultConnection"
           connectionString="Data Source=SQL5005.Smarterasp.net;Initial Catalog=DB_9AD737_RaceGameDB;User Id=DB_9AD737_RaceGameDB_admin;Password=tokash30;"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <!--<add xdt:Transform= "SetAttributes(connectionString)" 
        connectionString="Server=TOKASHYOS-PC;User Id=sa;Password=tokash30;database=master"
           xdt:Locator="Match(name, providerName)"
           name ="MasterConnection"
           providerName ="System.Data.SqlClient"
        />

      <add xdt:Transform= "SetAttributes(connectionString)"
        connectionString="Server=TOKASHYOS-PC;User Id=sa;Password=tokash30;database=RaceGameDB;"
           xdt:Locator="Match(name, providerName)"
           name ="DefaultConnection"
           providerName ="System.Data.SqlClient"
        />-->
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>