@{
    Layout = null;
}

<html>
    <body>
        <div>
            <p align="right"><u>Your current Balance is:</u></p>
            <p align="right">You have @ViewBag.TimeLeft minutes left</p>
            <p align ="right">You have $@ViewBag.Account left </p>

            <p> You finished the game !!! </p>
            <p> Please keep this code to get paid: @ViewBag.Code </p>
        
        </div>
    </body>
</html>