@{
    Layout = null;
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

            @{using (Html.BeginForm("AfterEndGamePost", "Game", FormMethod.Post))
              {
                  <div style="width: 40%;height:80%; margin: 0 auto; text-align: left">
                                    
                <p>If you have any comments about this research, please write them below: </p>
                <p>@Html.TextArea("txtbxComments", "", 10, 50, null)</p>

                <p>Thank you very much for taking part in our research!</p>
                      
                <p>If you have any questions, complaints or suggestions about this research, you may contact the principal investigator, Dr. Eyal Peer from Bar-Ilan University, at eyal.peer@biu.ac.il. </p>

                <p>Please click on “End” to submit your responses.</p>
                <input type="submit" value="End" />
            </div>      
              }
                
            }

            