@{
    Layout = null;
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

            @{using (Html.BeginForm())
              {
                  <div style="width: 40%;height:80%; margin: 0 auto; text-align: left">

                <p>Your response has been submitted, Thank you very much for taking part in our research!</p>
                      
            </div>      
              }
                
            }

            